* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* min-height: 200px; */
}

/* header part */
.container {
    /* border: 2px solid green; */
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-direction: column-reverse; */

}

/* header part commit */
.imge-container {
    /* border: 2px solid red; */
    width: 48%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    margin-bottom: 40px;
}

/* image part */
.imge-container img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

/* Grid item */
.grid-item-1 {
    grid-column: 1/span 6;
    grid-row: 1/span 4;
}

/* grid item 2 part */
.grid-item-2 {
    grid-column: 7/span 6;
    grid-row: 1/span 1;
}

/* grid item 3 part */
.grid-item-3 {
    grid-column: 7/span 6;
    grid-row: 2/span 1;
}

/* grid item 4 */
.grid-item-4 {
    grid-column: 7/span 2;
    grid-row: 3/span 1;
}

/* grid item 5 part */
.grid-item-5 {
    grid-column: 9/span 2;
    grid-row: 3/span 1;
}

/* grid item 6  */
.grid-item-6 {
    grid-column: 11/span 2;
    grid-row: 3/span 1;
}

/* "grid part 7 */
.grid-item-7 {
    grid-column: 7/span 6;
    grid-row: 4/span 1;
}

/* header part commit */
.text-container {
    /* border: 2px solid blue; */
    width: 48%;
}

.text-part {
    margin-top: 20px;
}

/* Media Quary part */
@media screen and (max-width:576px) {
    .container {
        flex-direction: column;
        width: 100%;
        border: none;
    }

    .imge-container,
    .text-container {
        width: 100%;
        border: none;

    }

    .imge-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7,1fr);
    }

    .grid-item-1 {
        grid-column: 1/span 1;
        grid-row: 1/span 1;

    }

    /* grid item 2 part */
    .grid-item-2 {
        grid-column: 1/span 1;
        grid-row: 2/span 1;


    }

    /* grid item 3 part */
    .grid-item-3 {
        grid-column: 1/span 1;
        grid-row: 3/span 1;

    }

    /* grid item 4 */
    .grid-item-4 {
        grid-column: 1/span 1;
        grid-row: 4/span 1;
    }

    /* grid item 5 part */
    .grid-item-5 {
        grid-column: 1/span 1;
        grid-row: 5/span 1;

    }

    /* grid item 6  */
    .grid-item-6 {
        grid-column: 1/span 1;
        grid-row: 6/span 1;

    }

    /* "grid part 7 */
    .grid-item-7 {
        grid-column: 1/span 1;
        grid-row: 7/span 1;

    }
}